<div class="container about">
    <div class="row spare-pages-title">
        <h2>Informations sur l'entreprise</h2>
    </div>

    <div class="row">
        <div class="md-12">
            <h6>Nom de la Société :</h6>
            <p>SARL Webstreet</p>
            <h6>Adresse de la Société :</h6>
            <p>3 rue de Thuringe, 76240 Bonsecours</p>
            <h6>Siret :</h6>
            <p>538 809 526 00030</p>
            <h6>Rcs :</h6>
            <p>Rouen 538 809 526</p>
            <h6>Numéro de TVA intracommunautaire :</h6>
            <p>FR 265 388 095 26</p>
            <h6>Nous contacter :</h6>
            
                <ul>
                    <li><strong>E-mail :</strong> <a href="mailto:contact@webstreet.io">contact@webstreet.io</a>
                    </li>
                    <li><strong>Tél :</strong> 09 72 52 79 79
                    </li>
                </ul>
            
            <h6>Responsable de la publication :</h6>
            <p>Roxane Anquetil</p>
            <h6>Hébergeur du site web :</h6>
            <p>OVH, 2 Rue Kellermann, 59100 Roubaix</p>
        </div>
    </div>
</div>
