<!-- Intro -->
<section class="view">

    <div class="row">
  
      <div class="col-md-6">
  
        <div class="become-trainer">
          <h1>Devenir formateur chez Webstreet Learning</h1>
          <h4>
              Animez des sessions de formation en présentiel et en e-learning. 
              Publiez vos propres supports de formations et gagnez de l'argent.</h4>
          <div class="mr-auto button-block">
            <button type="button" class="btn btn-primary btn-margin btn-rounded">Commencer à enseigner<i class="fa fa-caret-right ml-3"></i></button>
          </div>
        </div>
  
      </div>
  
      <div class="col-md-6">
  
        <div class="view">
          <img src="assets/img/trainer_picture.jpg" class="img-fluid" alt="smaple image">
          <div class="mask flex-center hm-gradient">
          </div>
        </div>
  
      </div>
  
    </div>
  
  </section>
  <!-- Intro -->

  <!-- Section: Features v.1 -->
<section class="teasing-section text-center my-5">

    <!-- Section heading -->
    <h1>Pourquoi enseigner sur Webstreet Learning ?</h1>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">
        Nous considérons le formateur comme la clé de voûte de toute formation. 
        Chez Webstreet Learning, les formateurs sont traités avec le plus grand respect. 

    </p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <i class="fa fa-users fa-3x"></i>
        <h5 class="font-weight-bold my-4">Animer des sessions rapidement</h5>
        <p class="grey-text mb-md-0 mb-5">
            Une fois inscrit sur notre plateforme, si vous réalisez avec succès 
            tous les tests de recrutement, nous nous mettons d'accord sur le coût journalier de vos 
            prestations et commençons à vous programmer des sessions.
            Vous êtes libre de les accepter ou les refuser.
        </p>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <i class="fa fa-credit-card fa-3x"></i>
        <h5 class="font-weight-bold my-4">Gagner de l'argent</h5>
        <p class="grey-text mb-md-0 mb-5">Nous payons automatiquement 
            tous nos formateurs chaque fin de mois. 
            Vous n'aurez jamais à nous relancer. 
            Vous pouvez suivre vos gains mensuels via un tableu de bord. 
            Un véritable outil de pointe pour gérer la rentabilité de 
            votre activité ! 
        </p>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <i class="fa fa-book fa-3x"></i>
        <h5 class="font-weight-bold my-4">Publier des supports et des articles</h5>
        <p class="grey-text mb-0">
            En publiant des supports, vous pourrez augmenter
            vos gains ! Notre commission est de seulement 20%. Grâce à notre outil 
            intelligent, vous n'aurez à rédiger votre cours qu'une seule fois. 
            Vous pourrez ensuite générer les slides, le ebook et le cours numérique.
        </p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Features v.1 -->

  <!-- Intro -->
<section class="view">

    <div class="row">
        <div class="col-md-12">
          
            <img src="assets/img/devenir_formateur.jpg" alt="Devenir formateur" class="img-responsive">
          
            <div class="carousel-caption">
              <h1>Prêts à commencer l'aventure ? </h1>
              <a href="#" class="btn btn-primary">Commencer à enseigner<i class="fa fa-caret-right ml-3"></i></a>

            </div>
          
         </div>
   
  
    </div>
  
  </section>
  <!-- Intro -->
