
            <!-- Categories -->
            <div class="mb-7 blog-aside">
                <h3 class="h5 mb-3 blog-aside-title">Catégories</h3>

                <div class="border rounded p-4">
                <!-- Categories List -->

                <ul class="list-unstyled" *ngFor="let articleCategory of articlesCategories;let i=index">
                    <ng-container *ngIf="i<=9">
                    <li class="py-1"><a class="text-secondary" href="#">{{articleCategory}}</a></li>
                    <li class="dropdown-divider"></li>
                    </ng-container>
                </ul>
               
                <!-- End Categories List -->
                </div>
            </div>
            <!-- End Categories -->
