<!-- Mentions Légales -->
<div class="container credentials">
    <div class="row spare-pages-title">

        <h2>Conditions générales d'utilisation</h2>

    </div>
    <div class="row">
        <div class="md-12">
            <h3>Introduction</h3>
  
            <div class="credentials-div">
             <p>
             Veuillez lire attentivement les présentes conditions d’utilisation («conditions d’utilisation») 
             avant d’utiliser le site web <a href="https://www.web-academy.com">www.web-academy.com</a>  
             exploité par l’entreprise Webstreet. Votre accès et votre utilisation pour ce service sont 
             conditionnés par votre acceptation et votre conformité à ces conditions.
         Ces conditions s’appliquent à tous les visiteurs, utilisateurs et autres personnes qui accèdent 
         ou utilisent le service. En accédant ou en utilisant le service, vous acceptez d’être lié 
         par les présentes conditions. Si vous êtes en désaccord avec une partie de ces conditions, 
         vous ne pouvez pas accéder au service.
               </p>
          
         
           </div>
         
           <h3>Services Fournis</h3>
         
           <div class="credentials-div">
             <p>
               Le propriétaire du site s’efforce de fournir sur le site <a href="https://www.web-academy.com">www.web-academy.com</a> des informations aussi fiables que possible.
               Cependant, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles
               soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
               </p>
             <p>
               Toutes les informations proposées sur le site <a href="https://www.web-academy.com">www.web-academy.com</a> sont données à titre indicatif, sont non exhaustives,
               et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.
         
             </p>
         
           </div>
         
           <h3>Comptes Utilisateurs</h3>
         
           <div class="credentials-div">
             <p>
             Lorsque vous créez un compte sur notre plateforme, vous devez nous fournir des informations exactes, 
             complètes et à jour. Ne pas le faire constitue une violation des présentes conditions, 
             ce qui peut entraîner la résiliation immédiate de votre compte sur notre service. 
             Vous êtes responsable de la protection du mot de passe que vous utilisez pour accéder au 
             service, ainsi que de toute activité ou action effectuée sous votre mot de passe.
            
             Vous acceptez de ne pas divulguer votre mot de passe à des tiers. 
             Vous devez nous avertir dès que vous prenez connaissance d’une violation de la sécurité 
             ou de l’utilisation non autorisée de votre compte.
             </p>
         
           </div>
         
           <h3>Résiliation</h3>
         
         <div class="credentials-div">
           <p>
           Nous pouvons résilier ou suspendre immédiatement l’accès à notre service, sans préavis ni 
           responsabilité, pour quelque raison que ce soit, sans limitation de durée, si vous ne respectez 
           pas les présentes conditions. 
            Nous pouvons mettre fin à votre compte ou le suspendre immédiatement, sans préavis ni responsabilité,
           pour quelque raison que ce soit, sans limitation, si vous ne respectez pas les conditions. 
           Après résiliation, votre droit d’utiliser le service cessera immédiatement. 
           Si vous souhaitez résilier votre compte, vous pouvez simplement cesser d’utiliser le service ou supprimer
           votre compte via votre interface d'administration, au niveau de votre profil.
         
           </p>
         
         </div>
         
           <h3>Propriété intellectuelle et marques</h3>
         
           <div class="credentials-div">
             <p>
               Tous les noms et marques de produits ou autres marques cités sur ce site sont déposés par leurs propriétaires respectifs.
               Les sources mentionnées conservent leurs droits. Tous les textes, photos, vidéos, images, dessins, séquences
               animées et toutes œuvres consultables sur le site sont protégés par des droits d'auteur. Toute reproduction,
               même partielle doit faire l'objet d'une demande au responsable de la publication.
             </p>
         
           </div>
         
         
           <h3>Crédits</h3>
         
           <div class="credentials-div">
             <p>
               <strong>Webdesign et réalisation technique : </strong> Webstreet SARL<br/>
                 <strong>Contenus rédactionnels :</strong> Webstreet SARL<br/>
                   <strong>Photos :</strong> Freepik<br/>
         
             </p>
         
           </div>
         
           <h3>Droit applicable et juridiction</h3>
         
           <div class="credentials-div">
             <p>
               Tout litige en relation avec l’utilisation du site <a href="https://www.web-academy.com">www.web-academy.com</a> est soumis au droit français.
               Il est fait attribution exclusive de juridiction aux tribunaux compétents de Rouen.
         
             </p>
         
           </div>
         
           <h3>Modification des présentes conditions</h3>
         
           <div class="credentials-div">
             <p>
             Nous pouvons mettre à jour nos conditions générales d'utilisation de temps à autre. 
             Nous vous informerons de tout changement en publiant les nouvelles conditions générales d'utilisation 
             sur cette page. Nous vous conseillons de consulter périodiquement ces conditions générales d'utilisation
             pour vous tenir informé de tout changement. Les modifications apportées à ces 
             conditions générales d'utilisation entrent en vigueur dès leur publication sur cette page.
         
             </p>
         
           </div>
         
           <h3>Contactez-nous</h3>
         
         <div class="credentials-div">
           <p>
           Si vous avez des questions concernant ces conditions générales d'utilisation, veuillez nous <a routerLink="/fr/contact">contacter</a>.
         
           </p>
         
         </div>
        </div>
    </div>
  
  
  </div>
