<!-- Mentions Légales -->
<div class="container credentials">
    <div class="row spare-pages-title">

        <h2>Politique de confidentialité</h2>

    </div>
    <div class="row">
        <div class="md-12">

            <h3>Introduction</h3>

            <div class="credentials-div">
              <p>
              L’entreprise Webstreet (“nous”, ou “notre”) exploite le site web 
              <a href="https://www.web-academy.com">www.web-academy.com</a> (le “service”). 
              Cette page vous informe de nos politiques en matière de collecte, utilisation et divulgation des 
              informations personnelles lorsque vous utilisez notre service. 
              Nous n’utiliserons ni ne partagerons vos informations avec qui que ce soit, 
              sauf dans les cas décrits dans la présente politique de confidentialité. 
              Nous utilisons vos informations personnelles pour fournir et améliorer le service. 
              En utilisant le service, vous acceptez la collecte et l’utilisation d’informations 
              conformément à cette politique. Sauf indication contraire dans la présente politique de 
              confidentialité, les termes utilisés dans cette politique de confidentialité ont la même 
              signification que dans nos conditions générales d'utilisation.
          
              </p>
          
            </div>
          
            <h3>Collecte d’informations et utilisation</h3>
          
            <div class="credentials-div">
              <p>
              Pendant l’utilisation de notre service, nous pouvons vous demander de nous fournir 
              certaines informations personnelles identifiables. Ces informations peuvent être utilisées pour vous 
              contacter ou vous identifier. Les informations personnellement identifiables
             (“Informations personnelles”) peuvent inclure, mais ne se limitent pas à : Nom, Prénom, 
              Adresse e-mail, Numéro de téléphone, Adresse Postale. 
                </p>
          
          
            </div>
          
            <h3>Données</h3>
          
            <div class="credentials-div">
          
            <h4>Informations collectées</h4>
              <p>
              Nous collectons les informations que votre navigateur envoie à chaque fois que vous visitez notre 
              service. Ces données de journal peuvent inclure des informations telles que l’adresse IP 
              (Internet Protocol) de votre ordinateur, le type de navigateur, la version du navigateur, les pages 
              de notre service visité, l’heure et la date de votre visite, le temps passé sur ces pages, etc. 
          </p>
          <h4>Cookies</h4>
          <p>
              Les cookies sont des fichiers contenant une petite quantité de données, pouvant inclure un identifiant 
              unique et anonyme. Les cookies sont envoyés à votre navigateur à partir d’un site web et stockés sur 
              le disque dur de votre ordinateur. Nous utilisons des “cookies” pour collecter des informations. 
              Vous pouvez demander à votre navigateur de refuser tous les cookies ou d’indiquer quand un cookie
              est envoyé. Toutefois, si vous n’acceptez pas les cookies, vous ne pourrez peut-être pas utiliser 
              certaines parties de notre service. 
          </p>
          
          <h4>Sociétés tierces</h4>
          <p>
              Nous pouvons faire appel à des sociétés tierces et à des particuliers pour faciliter notre service, 
              fournir le service en notre nom, fournir des services liés au service ou pour nous aider à 
              analyser la manière dont notre service est utilisé. 
              Ces tiers ont accès à vos informations personnelles uniquement pour effectuer des tâches 
              pour notre compte et sont tenus de ne pas les divulguer et de ne pas les utiliser à d'autres fins. 
          </p>
          
          
          <h4>Sécurité</h4>
          <p>
          
            La sécurité de vos informations personnelles est importante pour nous, mais rappelez-vous qu’aucune 
            méthode de transmission sur Internet ou de stockage électronique n’est sécurisée à 100%. 
            Bien que nous nous efforçons d’utiliser des moyens commercialement acceptables pour protéger vos 
            informations personnelles, nous ne pouvons vous garantir une sécurité absolue.
              </p>
          
            </div>
          
          
            <h3>Liens vers d'autres sites</h3>
          
            <div class="credentials-div">
              <p>
              Notre service peut contenir des liens vers d’autres sites que nous n’exploitons pas.
              Si vous cliquez sur un lien tiers, vous serez dirigé vers le site de ce tiers. 
              Nous vous conseillons vivement de consulter la politique de confidentialité de chaque 
              site que vous visitez. Nous n’exerçons aucun contrôle sur le contenu, les politiques de
               confidentialité ou les pratiques des sites ou services tiers, et n’assumons aucune 
               responsabilité à cet égard.
          
              </p>
          
            </div>
          
            <h3>Personnes âgées de moins de 18 ans</h3>
          
            <div class="credentials-div">
              <p>
              Nous ne collectons pas sciemment d’informations personnelles concernant les personnes âgées de moins de 18 ans.
               Si vous êtes un parent ou un tuteur et que vous savez que votre enfant nous a fourni des 
               informations personnelles, veuillez nous contacter. 
               Si nous découvrons qu’une personne de moins de 18 ans nous a fourni des informations personnelles, 
               nous les supprimerons immédiatement de nos serveurs.
          
              </p>
          
            </div>
          
            <h3>Modifications de cette politique de confidentialité</h3>
          
            <div class="credentials-div">
              <p>
              Nous pouvons mettre à jour notre politique de confidentialité de temps à autre. 
              Nous vous informerons de tout changement en publiant la nouvelle politique de 
              confidentialité sur cette page. Nous vous conseillons de consulter périodiquement cette politique 
              de confidentialité pour vous tenir informé de tout changement. Les modifications apportées à cette 
              politique de confidentialité entrent en vigueur dès leur publication sur cette page.
          
              </p>
          
            </div>
          
            <h3>Contactez-nous</h3>
          
          <div class="credentials-div">
            <p>
            Si vous avez des questions concernant cette politique de confidentialité, veuillez nous <a routerLink="/fr/contact">contacter</a>.
          
            </p>
          
          </div>
          
         
         
         
         
        </div>
    </div>
  
  
  </div>

