@import '~material-icons/iconfont/material-icons.css';

body{
	font-family: 'Roboto', sans-serif;
}

/*NAVBAR*/
.form-control {
	box-shadow: none;		
	font-weight: normal;
	font-size: 13px;
}
.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
}
.navbar .navbar-brand b {
	color: #DD4B39;		
}
.navbar .form-inline {
	display: inline-block;
}
.navbar a {
	color: #888;
	font-size: 15px;
}
.search-box {
	position: relative;
}	
.search-box input {
	padding-right: 35px;
	border-color: #dfe3e8;
	border-radius: 4px !important;
	box-shadow: none
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
.navbar .sign-up-btn {
	min-width: 110px;
	max-height: 36px;
}
.navbar .dropdown-menu {
	color: #999;
	font-weight: normal;
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar a, .navbar a:active {
	color: #888;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}

.navbar .btn-primary, .navbar .btn-primary:active {
	color: #fff;
	background: #DD4B39 !important;
	border: none;
}	
.navbar .btn-primary:hover, .navbar .btn-primary:focus {		
	color: #fff;
	background: #eb8c7f !important;
}

.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
.form-check-label input {
	position: relative;
	top: 1px;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 768px){
	.navbar .dropdown-menu.action-form {
		width: 100%;
		padding: 10px 15px;
		background: transparent;
		border: none;
	}
	.navbar .form-inline {
		display: block;
	}
	.navbar .input-group {
		width: 100%;
	}
}

/*NAVBAR*/

/*FOOTER*/
.site-footer
{
  border-top: 1px solid #dfe3e8;
  background-color:#F8F9FA;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#DD4B39;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*FOOTER*/

/*TRANING LIST CARD*/
.detail {
  box-shadow: 3px 4px 5px 3px rgba(0,0,0,.2);
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}


.detail img {
  width:100%;
}

.detail-box {
  margin-left: 20px;
}

.detail-box h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.detail-box p{
  margin-bottom: 14px;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  margin-right: 10px;
}

.detail-box p a{
border-bottom: 1px dotted #529cec;
text-decoration: none;
color: #529cec;
}

.detail-box p a:hover{
  color: #DD4B39;
  border-bottom: 1px dotted #DD4B39;
}

.detail-box p i.fas{
color: #DD4B39;
}

.detail-box ul{
padding: 0px;
margin: 0px;
margin-bottom: 10px;
}

.detail-box ul li{
    list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #000;
  border: 2px solid #1D3557;
  padding: 2px 6px;
  border-radius: 5px;
}

.detail-box ul li:hover{
background-color: #1D3557;
border: 2px solid #1D3557;
color: #fff;
}

.detail-box h6{
  font-size: 14px;
  line-height: 18px;
}

.detail-box h6 .category{
  color:white;
  font-size: 12px;
  background: linear-gradient(115deg, rgb(134, 128, 128) 0%, rgb(29, 53, 87) 40%, transparent 40%),#000;
}

.detail-box h6 .virtual{
  color:white;
  font-size: 12px;
  background-color:#FF9505;
  
}

.detail-box h6 .ourplace{
  color:white;
  font-size: 12px;
  background-color:#35A7FF;
}

.detail-box h6 .yourplace{
  color:white;
  font-size: 12px;
  background-color:#0EAD69;
}



.detail-box h6 .more{
float: right;
font-size: 18px;
line-height: 22px;
font-weight: 400;
color: #DD4B39;  
margin-right: 10px;
}

.detail-box h6 .more a{
background-color: #DD4B39;
color:white;
font-size:12px;
margin-bottom:10px;
}

.detail-box h6 .more .btn:hover{
  background-color: #eb8c7f !important;
  }

.carousel-item:after {
content:"";
display:block;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background:rgba(0,0,0,0.4);
}

.detail-body{
padding: 40px 0;
}

.title{
padding-bottom: 30px;
}




.offer {
  background: linear-gradient(115deg, rgb(134, 128, 128) 0%, rgb(29, 53, 87) 40%, transparent 40%),#000;
  max-width: 250px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
}

.offer-text {
  color: white;
  padding: 15px;
  font-weight: 700;
}

.offer-text-2 {
  color: white;
  font-weight: 700;
  margin-left: 25px;
}

.eligibal{
  padding: 20px;
  border: 1px solid #eee;
  background-color: rgba(239, 238, 238, 0.19);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fcfcfc;
  margin-top: -31px;
  position: absolute;
  right: 50px;
  z-index: 9999;
}

.eligibal p{
font-size: 13px;
line-height: 20px;
}

.ribbon {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 94px;
  height: 94px;
  text-align: center;
}

.ribbon span {
  font-size: 13px;
  font-weight: 700;
  color: #FFF;
  line-height: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 145px;
  display: block;
  background: #f94141;
  background: linear-gradient(#1D3557 0,#000 100%);
  text-shadow: 1px 1px 2px rgba(0,0,0,.25);
  position: absolute;
  top: 25px;
  left: -34px;
}

.detail .discount-holder {
  color: #fff;
  background: #DD4B39;
  top: 5px;
  right: -5px;
  position: relative;
  border-radius: 0 5px 0 0;
  float: right;
  font-size: 12px;
}

.detail .discount-holder span {
  display: block;
  position: relative;
  padding: 2px 12px 2px 8px;
}

.detail .discount-holder span:before {
  width: 0;
  height: 0;
  border-top: 17px solid #DD4B39;
  border-left: 15px solid transparent;
  position: absolute;
  top: 0;
  left: -15px;
  content: '';
}

.detail .discount-holder span:after {
  width: 0;
  height: 0;
  border-bottom: 17px solid #DD4B39;
  border-left: 15px solid transparent;
  position: absolute;
  bottom: 0;
  left: -15px;
  content: '';
}

.detail .discount-holder:after {
  background: #DD4B39;
  border-bottom-right-radius: 4px;
  bottom: -6px;
  content: "";
  height: 6px;
  right: 0;
  position: absolute;
  width: 5px;
}
/*TRANING LIST CARD*/