@import '~material-icons/iconfont/material-icons.css';


body{
	font-family: 'Roboto', sans-serif;
}

/*NAVBAR*/
.form-control {
	box-shadow: none;		
	font-weight: normal;
	font-size: 13px;
}
.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
}
.navbar .navbar-brand b {
	color: #E61E50;		
}
.navbar .form-inline {
	display: inline-block;
}
.navbar a {
	color: #888;
	font-size: 15px;
}
.search-box {
	position: relative;
}	
.search-box input {
	padding-right: 35px;
	border-color: #dfe3e8;
	border-radius: 4px !important;
	box-shadow: none
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
.navbar .sign-up-btn {
	min-width: 110px;
	max-height: 36px;
}

.navbar a, .navbar a:active {
	color: #888;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}

.btn-primary, .btn-primary:active, .container .btn, .container .btn:active .last-row .btn, .last-row .btn:active, .detail-box .btn,.detail-box .btn:active {
	color: #fff  !important;
	background: #E61E50 !important;
	border: none  !important;
}	
.btn-primary:hover,.btn-primary:focus, .container .btn:hover, .container .btn:focus, .last-row .btn:hover, .last-row .btn:focus, .detail-box .btn:hover,.detail-box .btn:focus {		
	color: #fff  !important;
	background: #e59fb0 !important;
}

.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
.form-check-label input {
	position: relative;
	top: 1px;
}

/*MEGA MENU*/
.dropdown-menu.show {
  display: none !important;
}
.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu.show:hover {
  display: block !important;
}

.top-auto{top:auto}
.dropdown-item, .dropdown-menu h3 a {
  color:white !important;
}
.dropdown-item:hover, .dropdown-menu h3 a:hover {
  color:white !important;
  background:none !important;
  text-decoration: underline;
}
.dropdown-menu h3 a
 {
  font-size: 20px;
}
/*MEGA MENU*/

@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 768px){
	.navbar .dropdown-menu.action-form {
		width: 100%;
		padding: 10px 15px;
		background: transparent;
		border: none;
	}
	.navbar .form-inline {
		display: block;
	}
	.navbar .input-group {
		width: 100%;
	}
}

/*NAVBAR*/

/*FOOTER*/
.site-footer
{
  border-top: 1px solid #dfe3e8;
  background-color:#F8F9FA;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#E61E50;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*FOOTER*/

/*TRAINING LIST CARD*/
.detail {
  box-shadow: 3px 4px 5px 3px rgba(0,0,0,.2);
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  background: #f5f5f5;
}


.detail img {
  width:100%;
}

.detail-box {
  margin-left: 20px;
}

.detail-box h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.detail-box p{
  margin-bottom: 14px;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  margin-right: 10px;
}

.detail-box p a{
border-bottom: 1px dotted #529cec;
text-decoration: none;
color: #529cec;
}

.detail-box p a:hover{
  color: #E61E50;
  border-bottom: 1px dotted #E61E50;
}

.detail-box p i.fas{
color: #E61E50;
}

.detail-box ul{
padding: 0px;
margin: 0px;
margin-bottom: 10px;
}

.detail-box ul li{
    list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: white;
 
  background-color: #ee7820;
  padding: 2px 6px;
  border-radius: 5px;
}

.detail-box ul li:hover{
background-color:  #ee7820;
color: #fff;
}

.detail-box h6{
  font-size: 14px;
  line-height: 18px;
}

.detail-box h6 .category{
  color:white;
  font-size: 12px;
  background: linear-gradient(115deg, rgb(238, 120, 32) 0%, rgb(230, 30, 80) 40%, transparent 40%),#E61E50;
}

.detail-box h6 .virtual{
  color:white;
  font-size: 12px;
  background-color:#FF9505;
  
}

.detail-box h6 .ourplace{
  color:white;
  font-size: 12px;
  background-color:#35A7FF;
}

.detail-box h6 .yourplace{
  color:white;
  font-size: 12px;
  background-color:#0EAD69;
}



.detail-box h6 .more{
float: right;
font-size: 18px;
line-height: 22px;
font-weight: 400;
color: #E61E50;  
margin-top: 30px;
}

.detail-box h6 .more a{
margin-bottom:10px;
}



.carousel-item:after {
content:"";
display:block;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background:rgba(0,0,0,0.4);
}

.detail-body{
padding: 40px 0;
}

.title{
padding-bottom: 30px;
}




.offer {
  background: linear-gradient(115deg, rgb(134, 128, 128) 0%, rgb(29, 53, 87) 40%, transparent 40%),#000;
  max-width: 250px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
}

.offer-text {
  color: white;
  padding: 15px;
  font-weight: 700;
}

.offer-text-2 {
  color: white;
  font-weight: 700;
  margin-left: 25px;
}

.eligibal{
  padding: 20px;
  border: 1px solid #eee;
  background-color: rgba(239, 238, 238, 0.19);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fcfcfc;
  margin-top: -31px;
  position: absolute;
  right: 50px;
  z-index: 9999;
}

.eligibal p{
font-size: 13px;
line-height: 20px;
}
.skills-on-img {
  position: absolute;
  top: 50px;
  left: 80px;
  z-index: 1; 

  width: 200px;
  height: 150px;
  text-align: center;
}
.skills-on-img span {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 30px;
}
.ribbon {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 94px;
  height: 94px;
  text-align: center;
}

.ribbon span {
  font-size: 13px;
  font-weight: 700;
  color: #FFF;
  line-height: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 145px;
  display: block;
  background: #f94141;
  background: linear-gradient(#1D3557 0,#000 100%);
  text-shadow: 1px 1px 2px rgba(0,0,0,.25);
  position: absolute;
  top: 25px;
  left: -34px;
}

.detail .discount-holder {
  color: #fff;
  background: #E61E50;
  top: 5px;
  right: -5px;
  position: relative;
  border-radius: 0 5px 0 0;
  float: right;
  font-size: 12px;
}

.detail .discount-holder span {
  display: block;
  position: relative;
  padding: 2px 12px 2px 8px;
}

.detail .discount-holder span:before {
  width: 0;
  height: 0;
  border-top: 17px solid #E61E50;
  border-left: 15px solid transparent;
  position: absolute;
  top: 0;
  left: -15px;
  content: '';
}

.detail .discount-holder span:after {
  width: 0;
  height: 0;
  border-bottom: 17px solid #E61E50;
  border-left: 15px solid transparent;
  position: absolute;
  bottom: 0;
  left: -15px;
  content: '';
}

.detail .discount-holder:after {
  background: #E61E50;
  border-bottom-right-radius: 4px;
  bottom: -6px;
  content: "";
  height: 6px;
  right: 0;
  position: absolute;
  width: 5px;
}
/*TRAINING LIST CARD*/

/*TRAINING DETAIL CARD*/

@media (max-width:991px)
{
  .details
  {
    padding-left:30px;
  }
}

caption { caption-side:top;text-align:center; }

.preview img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }
/*
.preview-pic {
}*/

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }
    .tab-content {

      overflow: hidden; }



  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 20px;
  background: #eee;
  padding: 1em;
  line-height: 1.5em;
 
}

.card .no-session {
  background-color: rgba(0,0,0,.03);
}

.card .no-session .btn-no-session {
 margin-top:0px;
}

.card .no-session .btn-no-session .btn {
  border:none;
  padding-top:0px;
  margin:10px;
 }

 .card .no-session .btn .material-icons {
  position:relative !important;
  bottom:-5px !important;
 }
  .card .module-card {
    margin-top: 0px !important;
    padding: 0em !important;
  }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }



.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {

  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }


.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*TRAINING DETAIL CARD*/

/*SESSIONS CONTAINER TITLE AND INTRO*/
.session-container .baseline {
  color:rgba(0,0,0,.5);
}
/*SESSIONS CONTAINER TITLE AND INTRO*/

/*TRAINING DETAIL SESSIONS*/
.div-product-title, .div-product-subtitle {

margin-left:5px;

}
.div-product-subtitle {
  margin-bottom:15px;
}


.separator {
  position:relative;
 top:-5px;
  margin:0px 5px 0px 5px;
}

.training-card-presentation-text {
  font-size:14px;
  color:rgba(0,0,0,.5);

}

.container .info {
  padding:12px 20px;
}
.description {
  margin-top: 20px;
}

.nav-tabs a {
  color:#888 !important;
}
.flag{
  width: 50px;
}

h2{
  font-size: 200%;
  margin-top: 0px;
  font-weight: bold;
}




.last-row .btn {
  margin-top:10px;
  margin-bottom:10px;
  padding: 8px 20px;
 
}

.event-list-block {
 
}

@media (min-width: 992px) {
  div.last-row {
    position:absolute;
    top:145px;
    right:20px;
    }

  

  .last-row {
    position:relative;
    top:-40px;
  }
  .last-row .btn {
  
    position: relative;

    float: right;
    font-size: 14px;
    margin-right:20px;
  }
}


.badge-module-duration {
background-color:#E61E50 !important;
color:white;
}

.ribbon-event {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 94px;
  height: 94px;
  text-align: center;
}

.ribbon-event span {
  font-size: 13px;
  font-weight: 700;
  color: #FFF;
  line-height: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 145px;
  display: block;
  background: #f94141;
  background: linear-gradient(#1D3557 0,#000 100%);
  text-shadow: 1px 1px 2px rgba(0,0,0,.25);
  position: absolute;
  top: 25px;
  left: -34px;
}

.nav-tabs .nav-link {
  border: 1px solid #ddd !important;
}

.event-card {
  box-shadow: (0, 0, 0, 0.12) 0px 6px 16px !important;
  margin-bottom:20px;
}


.event-card .tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; }


.event-list .info .row{
    padding-left: 10px;
    font-size: 80%;
}

.event-list {
list-style: none;
/*font-family: 'Lato', sans-serif;*/
margin: 0px;
padding: 0px;
}
.event-list > li, .event-list-item {
background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 5px rgb(51, 51, 51);
box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
padding: 0px;
margin: 0px 0px 20px;
}
.event-list > li > time, .event-list-item > time {
display: inline-block;
width: 100%;
color: rgb(255, 255, 255);
background-color: #E61E50;
padding: 5px;
text-align: center;
text-transform: uppercase;
}

.event-list > li:nth-child(even) > time,
.event-list > app-session-list-card:nth-child(even) time {
background-color: #ee7820 !important;
}

.event-list > li > time > span, .event-list-item > time > span  {
display: none;
}
.event-list > li > time > .day, .event-list-item > time > .day {
padding-top:40px;
display: block;
font-size: 56pt;
font-weight: 100;
line-height: 1;
}
.event-list > li time > .month,.event-list-item time > .month  {
display: block;
font-size: 24pt;
font-weight: 900;
line-height: 1;
}
.event-list > li > img, .event-list-item > img {
width: 100%;
}
.event-list > li > .info, .event-list-item > .info {
padding-top: 5px;
text-align: center;
}
.event-list > li > .info > .event-title, .event-list-item > .info > .event-title {
font-size: 17pt;
font-weight: 700;
margin: 0px;
}
.event-list > li > .info > .desc,   .event-list-item > .info > .desc {
font-size: 13pt;
font-weight: 300;
margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul,
.event-list-item > .info > ul,
.event-list-item > .social > ul {
display: table;
list-style: none;
margin: 10px 0px 0px;
padding: 0px;
width: 100%;
text-align: center;
}
.event-list > li > .social > ul,
.event-list-item > .social > ul {
margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li,
.event-list-item > .info > ul > li,
.event-list-item > .social > ul > li {
display: table-cell;
cursor: pointer;
color: rgb(30, 30, 30);
font-size: 11pt;
font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a,
.event-list-item > .info > ul > li > a {
display: block;
width: 100%;
color: rgb(30, 30, 30);
text-decoration: none;
} 
.event-list > li > .social > ul > li,
.event-list-item > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a,
.event-list-item > .social > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover,
.event-list-item > .info > ul > li:hover,
    .event-list-item > .social > ul > li:hover {
color: rgb(30, 30, 30);
background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
display: block;
width: 100%;
color: rgb(75, 110, 168) !important;
}
.twitter a {
color: rgb(79, 213, 248) !important;
}
.google-plus a {
color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
color: rgb(255, 255, 255) !important;
background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
color: rgb(255, 255, 255) !important;
background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
color: rgb(255, 255, 255) !important;
background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 992px) {



.event-list > li,
.event-list-item {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  padding: 0px;
}
.event-list > li > time,
.event-list > li > img,
.event-list-item > time,
    .event-list-item > img  {
  display: inline-block;
}
.event-list > li > time,
.event-list > li > img,
.event-list-item > time,
.event-list-item > img  {
  width: 200px;
  float: left;
}
.event-list > li > .info,
.event-list-item > .info {
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}
.event-list > li > time,
.event-list > li > img,
.event-list-item > time,
.event-list-item > img  {
  width: 200px;
  height: 200px;
  padding: 0px;
  margin: 0px;
}
.event-list > li > .info,
.event-list-item > .info {
  position: relative;
  height: 200px;
  text-align: left;
  padding-right: 40px;
}	
.event-list > li > .info > .event-title, 
.event-list > li > .info > .desc,
.event-list-item > .info > .event-title, 
.event-list-item > .info > .desc {
  padding: 0px 10px;
}
.event-list > li > .info > ul,
.event-list-item > .info > ul {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.event-list > li > .social,
.event-list-item > .social {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 40px;
}
    .event-list > li > .social > ul,
    .event-list-item > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
.event-list > li > .social > ul > li,
.event-list-item > .social > ul > li {			
  display: block;
        padding: 0px;
}
.event-list > li > .social > ul > li > a,
.event-list-item > .social > ul > li > a {
  display: block;
  width: 40px;
  padding: 10px 0px 9px;
}
}
/*TRAINING DETAIL SESSIONS*/


/*BLOG LIST*/

.img-responsive {width:100%}
.post { border-bottom:1px solid #DDD;margin-bottom: 10px;}
.post-title {  color:#E61E50; }
.post-title:hover {  color:#e59fb0; }
.post .glyphicon { margin-right:5px; }
.post-header-line { border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px; }
.post-header-line a {color:#E61E50;}
.post-header-line a:hover {color:#e59fb0;}
.post-content { padding-bottom: 15px;padding-top: 15px;}
.blog-aside-title {
  background-color: #E61E50;
    color: white;
    margin-bottom: 0px !important;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

.blog-aside {
  margin-bottom: 15px;
}
/*BLOG LIST*/

/*BLOG DETAIL PAGE*/
.banner-section{width:100%; float:left;}
.banner-section{background-image:url("https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 57px; background-position:0;}
.post-title-block{padding:50px 0;}
.post-title-block h1 {color: #fff; font-size: 85px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; color: #fff;}
.image-block{float:left; width:100%; margin-bottom:10px;}
.card.comments {margin-top:0px !important;}
.blog-comment-title {
  background-color: #E61E50;
  color: white;
  margin-bottom: 0px !important;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  margin-top: 50px;
}
.user-comment {
  border-bottom: solid 1px #DDD;
  margin-bottom: 10px;
}

.post-content-section {
  margin-bottom: 10px;
}

/*stars*/
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
/*BLOG DETAIL PAGE*/

/*BECOME A TRAINER PAGE*/
.become-trainer {
  margin:20px 20px 0px 20px;
}
.become-trainer h1, .teasing-section h1 {
  font-weight: bold;
}

.become-trainer h1, .become-trainer h4 {
  margin-bottom:40px;
}

.become-trainer .button-block {
  margin-bottom: 40px;
}

.teasing-section {
  background: #f2f3f5;
  margin: 0px !important;
  padding: 40px 20px 40px 20px;
}


/*BECOME A TRAINER PAGE*/

/*ABOUT PAGE - CREDENTIALS PAGE - Confidentiality PAGE*/
.about, .credentials {
  margin-top: 30px;
  margin-bottom: 30px;
}

.spare-pages-title {
  margin-bottom: 30px;
}

.about h6 {
  font-weight:bold;
}

.credentials-div {
  margin-bottom:15px;
}
/*ABOUT PAGE - CREDENTIALS PAGE - Confidentiality PAGE*/

/*CONTACT PAGE*/
.contact-form{
  background: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
}
.contact-form .form-control{
  border-radius:0.5rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #ee7820;
}

/*CONTACT PAGE*/

/*TRAINING CAROUSEL*/
.training-carousel {
  background: #f2f3f5;
      padding: 40px 100px 0px 100px;
}
/*TRAINING CAROUSEL*/

/*HOME TRAINING CARD DECK*/
.training-card-deck {
  margin-top:20px;
  padding-right: 15px;
  padding-left: 15px;
}

.training-card-deck .col {
  padding-right:0px;
  padding-left: 0px;
}
.training-card {
  padding: 0px !important;
  margin-top:0px;
  margin-right:5px !important;
  margin-left:5px !important;
  background:white;

}

.training-card .card-body {
  padding:1rem;
  min-height: 230px;
}

.training-card .card-footer {
  padding: .25rem .25rem;
  background:white;
}
/*HOME TRAINING CARD DECK*/