<div class="row detail">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 p-0">
    <div class="ribbon"><span>{{level}}</span></div>
    <img src="assets/img/formation_angular.png" alt="">
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-8">
    <span class="discount-holder"><span>Financement : CPF / OPCO</span></span>
    <div class="detail-box">
      <h4>{{title}}</h4>
 
      <h6><strong>Catégorie : </strong> <span class="badge category">{{category}}</span></h6>

      <ul>
        <li><strong>A partir de : </strong>
        <span *ngFor="let modality of modalities; let i=index">
          <span *ngIf="i==0">
          {{modality.price}} €
          </span>
        </span>
        
        </li>
        <li><strong>Durée (en heures) : </strong>{{durationInHours}} heures</li>
        <li><strong>Référence : </strong>{{reference}}</li>
      </ul>
      <p><strong>Description : </strong>{{description}}</p>
      <h6 ><strong>Modalités : </strong> 
        <span *ngFor="let modality of modalities">
          <span class="badge" [ngClass]="{'virtual': modality.name === 'Classe Virtuelle', 'ourplace':modality.name === 'Présentiel', 'yourplace':modality.name === 'Sur-Mesure' }">{{modality.name}}</span>&nbsp;
        </span>

        <span class="more"><a [routerLink]="['/fr/formations',slug,id]" class="btn" style="background-color:#DD4B39">En savoir plus</a></span>
      </h6>
    </div>
  </div>

</div>